/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}
img{
    width: 100%;
    display: block;
}
.mobile-padding{
    padding: 0 2rem; 
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn{
    padding: 5px 15px;
    border-radius: 15px;
}


/* Header */
header{
    height: 80px;
    background-color: #0084fd;
}
nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav a{
    text-decoration: none;
}
li{
    list-style-type: none;
    padding: 0 1rem;
}
ul.flex{
    align-items: center;
}
.menu-icon{
    font-size: 1.8rem;
    color: white;
}
.menu-list{
    display:none;
}


/* Main */
.feature{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cards-layout{
    flex-direction: column;
    margin-left: -2rem;
    margin-right: -2rem;
}
.card-layout{
    width: 100%;
    padding: 2rem;
    /* TEST */
    border: 1px solid coral;
}
.card-content{
    background-color: #b5ddff;
}



/* TABLET 
(>= 768px) */
@media screen and (min-width: 768px){
    .cards-layout{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-layout{
        width: calc(100% / 3);
    }
    .card-layout:first-child{
        width: calc((100%/3) * 2);
    }

}
/* DESKTOP 
(>= 992px) */
@media screen and (min-width: 992px){
    /* Header */
    nav{
        color: white;
    }
    .menu-icon{
        display: none;
    }
    .menu-list{
        display:inline-block;
    }
    .btn-white{
        background-color: white;
    }
    a .btn-white{
        color: black;
    }

}
