/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}
img{
    width: 100%;
    display: block;
}
.mobile-padding{
    padding: 0 2rem; 
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn{
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-blue{
    padding: 10px 70px;
    border-radius: 30px;
    background-color: #0084fd;
    color: white;
}
a{
    text-decoration: none;
}

/* Header */
header{
    height: 80px;
    background-color: #0084fd;
}
nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav a{
    text-decoration: none;
}
li{
    list-style-type: none;
    padding: 0 1rem;
}
ul.flex{
    align-items: center;
}
.menu-icon{
    font-size: 1.8rem;
    color: white;
}
.menu-list{
    display:none;
}


/* Main */
.feature{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cards-layout{
    flex-direction: column;    
}
.card-layout{
    width: 100%;
    margin-bottom: 2rem;
}
.card-content{
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #b5ddff;
    border-radius: 25px;
}
.card-content h2{
    color: #0084fd;
}
.card-content h2,
.card-content p,
.card-content a,
.card-text{
    margin-bottom: 30px;
    line-height: 30px;

}
.card-small{
    text-align: center;
    padding-bottom: 2rem;
}
.card-small .icon{
    color: #0084fd;
    font-size: 80px;
}
.card-small .p{
    padding-bottom: 30px;
}



/* TABLET 
(>= 768px) */
@media screen and (min-width: 768px){
    /* Main */
    .cards-layout{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .card-layout{
        width: calc(100% / 3);
        padding: 0 1rem;
    }
    .card-layout:first-child{
        width: calc((100%/3) * 2);
    }
    .card-image{
        width: 50%;
    }
    .card-content{
        height: 100%;
    }
}
/* DESKTOP 
(>= 992px) */
@media screen and (min-width: 992px){
    /* Header */
    nav{
        color: white;
    }
    .menu-icon{
        display: none;
    }
    .menu-list{
        display:inline-block;
    }
    .btn-white{
        background-color: white;
    }
    a .btn-white{
        color: black;
    }
    /* Main */
    .card-text,
    .card-image{
        width: 50%;
    }
    .card-image{
        align-self: flex-end;
    }
    .card-content{
        flex-direction: row;
    }
}
