/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}
img{
    width: 100%;
    display: block;
}
.mobile-padding{
    padding: 0 2rem; 
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.container-small{
    max-width: 500px;
    margin: 0 auto;
}
.container-extrasmall{
    max-width: 450px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn{
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-blue{
    padding: 10px 70px;
    border-radius: 30px;
    background-color: #0084fd;
    color: white;
}
.btn-purple{
    padding: 10px 60px;
    border-radius: 30px;
    background-color: #9792e4;
    color: white;
}
a{
    text-decoration: none;
}

/* Header */
header{
    height: 80px;
    background-color: #0084fd;
}
nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav a{
    text-decoration: none;
    color: white;
}
/* nav a:last-child{
    color: black;
} */
nav li{
    list-style-type: none;
    padding: 0 1rem;
}
ul.flex{
    align-items: center;
}
.menu-icon{
    font-size: 1.8rem;
    color: white;
}
.menu-list{
    display:none;
}


/* Main */
.feature{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cards-layout{
    flex-direction: column;    
}
.card-layout{
    width: 100%;
    margin-bottom: 2rem;
}
.card-content{
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #b5ddff;
    border-radius: 25px;
}
.card-content h2{
    color: #0084fd;
}
.card-content h2,
.card-content p,
.card-content a,
.card-text{
    margin-bottom: 30px;
    line-height: 30px;

}
.card-small{
    text-align: center;
    padding-bottom: 2rem;
}
.card-small .icon{
    color: #0084fd;
    font-size: 80px;
}
.card-small .p{
    padding-bottom: 30px;
}

/* Strategy section */
.strategy{
    background-color:#9792e4;
}
.strategy-layout{
    flex-direction: column;
}
.strategy-left-layout,
.strategy-right-layout{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Strategy Left column  */
.strategy-left-content *{
    padding-top: 2rem;
    color: white;
}
/* Strategy right column */
.strategy-right-content{
    padding: 1rem;
    line-height: 2rem;
    background-color: white;
    border-radius: 50px;
    text-align: center;
}
.strategy-right-content p{
    font-style: oblique;
}
.strategy-right-content *{
    margin-top: 20px;
}
.strategy-right-content i{
    padding: 20px;
    border-radius: 50%;
    background-color: #9792e4;
}

/* Testimonials */
.testimonials{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.testimonial-layout{
    margin-bottom: 2rem;
}
/* text */
.testimonials-text{
    text-align: center;
}
.testimonials-text *{
    padding: 2rem;
    line-height: 40px;
}
.testimonials-text p{
    font-size: 25px;
}
.testimonials h2{
    font-size: 40px;
    color: #9792e4;
}
/* cards */
.testimonial-content{
    color: white;
    background-color: #9792e4;
    border-radius: 40px;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
}
.testimonial-img{
    margin-bottom: 2rem;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial-text{
    text-align: center;
    padding: 0 1rem;
    line-height: 40px;
    font-size: 20px;
}
.testimonial-cit{
    margin-bottom: 20px;
}
.testimonial-name{
    font-weight: bold;
}
.testimonial-img-container{
    justify-content: center;
}
/* Benefits */
.benefits{
    background-color: #9792e4;
    padding-bottom: 2rem;
}
.benefits>h2{
    text-align: center;
    padding: 4rem 0;
    color: white;
    font-size: 40px;
}
.benefits-layout{
    flex-direction: column;
}
.benefit-layout{
    width: 100%;
    margin-bottom: 2rem;
}
.benefit-content{
    background-color: white;
    padding: 2rem;
    border-radius: 40px;
}
.benefit-content h2{
    color: #9792e4;
    font-size: 50px;
    padding: 1rem 0;
}
.benefit-content h4{
    color: #9792e4;
    font-size: 25px;
    padding: 1rem 0;
}
.benefit-content p{
    line-height: 25px;
    padding: 1rem 0;
    padding-bottom: 2rem;
}
/* About us */
.about-us-layout{
    padding: 4rem 0;
}
.about-us-content{
    flex-direction: column;
}
.about-us-content h2{
    color: #9792e4;
    font-size: 40px;
    margin-bottom: 2rem;    
}
.about-us-content p
{
    line-height: 35px;
    margin-bottom: 2rem;
}
.about-us-picture{
    margin-bottom: 2rem;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.about-us-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-employee .quote{
    font-size: 60px;
    color: #9792e4;
    position: absolute;
    top: 0;
    right: 0;
}
.about-us-employee p{
    color: #9792e4;
    font-size: 30px;
    font-weight: bold;
}
.about-us-employee a{
    padding: 8px 16px;
}

/* helper for the quote overlay effect */
.about-us-employee-helper{
    position: relative;
}
.about-us-employee-helper{
    width: 210px;
    height: 210px;
    margin-bottom: 2rem;
}


/* Get Started */
.get-started{
    background-color: #9792e4;
}
.get-started-layout{
    padding: 4rem 0;
}
.get-started-content{
    text-align: center;
}
.get-started-content>*{
    padding: 1rem 0;
    color: white;
}
.get-started-content span{
    color: #d5d4f4;
}
.get-started-content h3{
    font-size: 43px;
    font-weight: bold;
}
.get-started-content h2{
    color: #fdc15f;
    font-size: 60px;
    font-weight: bold;
}
.get-started-content p{
    line-height: 30px;
    margin-bottom: 2rem;
}
.get-started-content>a{
    display: inline-block;
    background-color: white;
    color: #9792e4;
    padding: 1rem 4rem;
    border-radius: 30px;
    margin-bottom: 2rem;
}
.get-started ul{
    justify-content: center;
    flex-wrap: wrap;
}
.get-started li{
    margin: 0 1rem;
}
.get-started li:first-child{
    list-style-type: none;
}
.get-started li:last-child a{
    color: white;
    text-decoration: underline;
}
/* Footer */
footer{
    background-color: #333333;
    color: white;
}
.footer-content p{
    text-align: center;
    padding: 2rem 0; 
}
.footer-content a{
    color:#9792e4;
    text-decoration: underline;
}
/* TABLET 
(>= 768px) */
@media screen and (min-width: 768px){
    /* Main */
    .cards-layout{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .card-layout{
        width: calc(100% / 3);
        padding: 0 1rem;
    }
    .card-layout:first-child{
        width: calc((100%/3) * 2);
    }
    .card-image{
        width: 50%;
    }
    .card-content{
        height: 100%;
    }
    /* Testimonials */
    .testimonial-content{
        flex-direction: row;
    }
    .testimonial-img-container{
        width: calc(100% / 3);
    }
    .testimonial-img{
        margin-bottom: 0rem;
    }
    .testimonial-text{
        width: calc( (100% / 3) * 2);
        text-align: left;
    }
    /* Benefits */
    .benefits-layout{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -1rem;
    }
    .benefit-layout{
        width: calc(100% / 2);
        padding: 0 1rem;
    }
    /* About us */
    .about-us-content{
        flex-direction: row;
        margin: 0 -2rem;
    }
    .about-us-text{
        width: 55%;
        padding: 0 2rem;
    }
    .about-us-employee{
        width: 45%;
        padding: 0 2rem;
    }
}
/* DESKTOP 
(>= 992px) */
@media screen and (min-width: 992px){
    /* Header */
    nav{
        color: white;
    }
    .menu-icon{
        display: none;
    }
    .menu-list{
        display:inline-block;
    }
    .btn-white{
        background-color: white;
    }
    li .btn-white{
        color: black;
    }
    /* Main */
    /* Feature */
    .card-text,
    .card-image{
        width: 50%;
    }
    .card-image{
        align-self: flex-end;
    }
    .card-content{
        flex-direction: row;
    }
    /* Strategy */
    .strategy-layout{
        flex-direction: row;
        padding-top: 2rem;
    }
    .strategy-left-layout,
    .strategy-right-layout{
        width: 50%;
        padding: 2rem;
    }
    .strategy-left-content img{
        padding: 2rem 0;
        margin-bottom: 6rem;
    }
    .strategy-left-content h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .strategy-left-content p{
        line-height: 2rem;
    }
    .strategy-right-layout{
        padding-top: 15rem;
        align-self: flex-end;
    }
    .strategy-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    /* Testimonials */
    .testimonials-text h2{
        font-size: 50px;
    }
    .testimonial-img-container{
        width: calc(100% / 5);
    }
    .testimonial-text{
        width: calc( (100% / 5) * 4);
    }
    /* Benefits */
    .benefit-layout{
        width: calc(100% / 3);
    }
    /* About us */
    .about-us-text{
        width: calc((100% / 3) * 2);
    }
    .about-us-employee{
        width: calc(100% / 3);
    }
}
