/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}
/* TABLET 
(>= 768px) */
@media screen and (min-width: 768px){

}
/* DESKTOP 
(>= 768px) */
@media screen and (min-width: 992){

}
